<div class="container">
  <h1>Welcome to Game Of Life app</h1>
  <% if user_signed_in? %>
    <p>Go to Game Of Life page to enjoy</p>
  <% else %>
    <p>Sign in or Sign up to enjoy</p>
  <% end %>
</div>